<div class="modal" tabindex="-1" id="privacy">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Privacy policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This Privacy Policy applies to information that we collect about you when you use our website.</p>
                <h3 class="font-weight-bold">Information We Collect</h3>
                <p>We only collect information about you if we have a reason to do so — for example, to provide our services, to communicate with you, or to make our services better. We collect this information if and when you provide information to us or automatically through operating our services.</p>
                <h3 class="font-weight-bold">How and Why We Use Information</h3>
                <p>We use information about you for the purposes listed below:</p>
                <ul>
                    <li>To provide our services.</li>
                    <li>To ensure quality, maintain safety, and improve our services.</li>
                    <li>To protect our services, our users, and the public.</li>
                    <li>To fix problems with our services.</li>
                    <li>To customize the user experience.</li>
                    <li>To communicate with you.</li>
                </ul>
                <h3 class="font-weight-bold">How Long We Keep Information</h3>
                <p>We generally discard information about you when it’s no longer needed for the purposes for which we collect and use it — described in the section above on How and Why We Use Information — and we’re not legally required to keep it.</p>
                <h3 class="font-weight-bold">Sharing Information</h3>
                <p>We share information about you in limited circumstances, and with appropriate safeguards on your privacy. These are spelled out below:</p>
                <ul>
                    <li><strong>Subsidiaries and independent contractors:</strong> We may disclose information about you to our subsidiaries and independent contractors who need the information to help us provide our services or process the information on our behalf. We require our subsidiaries and independent contractors to follow this Privacy Policy for any personal information that we share with them.</li>
                    <li><strong>Third-party vendors:</strong> We may share information about you with third-party vendors who need the information in order to provide their services to us, or to provide their services to you or your site.</li>
                    <li><strong>Legal and regulatory requirements:</strong> We may disclose information about you in response to a subpoena, court order, or other governmental request.</li>
                    <li><strong>To protect rights, property, and others:</strong> We may disclose information about you when we believe in good faith that disclosure is reasonably necessary to protect the property or rights of us, third parties, or the public at large. For example, if we have a good faith belief that there is an imminent danger of death or serious physical injury, we may disclose information related to the emergency without delay.</li>
                    <li><strong>Business transfers:</strong> In connection with any merger, sale of company assets, or acquisition of all or a portion of our business by another company, or in the unlikely event that we goes out of business or enters bankruptcy, user information would likely be one of the assets that is transferred or acquired by a third party. If any of these events were to happen, this Privacy Policy would continue to apply to your information and the party receiving your information may continue to use your information, but only consistent with this Privacy Policy.</li>
                    <li><strong>With your consent:</strong> We may share and disclose information with your consent or at your direction. For example, we may share your information with third parties when you authorize us to do so.</li>
                </ul>
                <p>We have a long-standing policy that we do not sell our users' data. We aren't a data broker, we don't sell your personal information to data brokers, and we don't sell your information to other companies that want to spam you with marketing emails.</p>
                <h3 class="font-weight-bold">Security</h3>
                <p>While no online service is 100% secure, we work very hard to protect information about you against unauthorized access, use, alteration, or destruction, and take reasonable measures to do so. We monitor our services for potential vulnerabilities and attacks.</p>
                <h3 class="font-weight-bold">Your Rights</h3>
                <p>Under the scope of the European General Data Protection Regulation (aka the “GDPR”), you may have certain rights regarding your personal information, like the right to request access to or deletion of your data.</p>
                <h5 class="font-weight-bold"><em>European General Data Protection Regulation (GDPR)</em></h5>
                <p>Data protection laws give you certain rights with respect to your personal data, subject to any exemptions provided by the law, including the rights to:</p>
                <ul>
                    <li>Request access to your personal data;</li>
                    <li>Request correction or deletion of your personal data;</li>
                    <li>Object to our use and processing of your personal data;</li>
                    <li>Request that we limit our use and processing of your personal data; and</li>
                    <li>Request portability of your personal data.</li>
                </ul>
                <p>You also have the right to make a complaint to a government supervisory authority.</p>
                <h5  class="font-weight-bold"><em>Contacting Us About These Rights</em></h5>
                <p>You can usually access, correct, or delete your personal data using your account settings and tools that we offer, but if you aren’t able to or you’d like to contact us about one of the other rights, scroll down to “How to Reach Us” to, well, find out how to reach us. When you contact us about one of your rights under this section, we’ll need to verify that you are the right person before we disclose or delete anything. For example, if you are a user, we will need you to contact us from the email address associated with your account. You can also designate an authorized agent to make a request on your behalf by giving us written authorization. We may still require you to verify your identity with us.</p>
                <h3 class="font-weight-bold">How to Reach Us</h3>
                <p>If you have a question about this Privacy Policy, or you would like to contact us about any of the rights mentioned in the Your Rights section above, please contact us through our web form or via email.</p>
                <h3 class="font-weight-bold">Privacy Policy Changes</h3>
                <p>Although most changes are likely to be minor, we may change this Privacy Policy from time to time. We encourages visitors to frequently check this page for any changes to this Privacy Policy. Your further use of the services after a change to this Privacy Policy will be subject to the updated policy.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>