<div class="modal" tabindex="-1" id="tos">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Terms of Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>These Terms govern your access to and use of this website as well as all content and services available at or through this website (collectively, “Services”). Our Services are offered subject to your acceptance, without modification, of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Privacy Policy), and procedures that may be published from time to time by us (collectively, the “Agreement”). You agree that we may automatically upgrade our Services, and the Agreement will apply to any upgrades. Please read the Agreement carefully before accessing or using our Services. By accessing or using any part of our Services, you agree to become bound by the Agreement. If you do not agree to all the terms of the Agreement, then you may not access or use our Services.</p>
                <p>Throughout these Terms, “you” applies to both individuals and entities that access or use our Services. If you are an individual using our Services on behalf of an entity, you represent and warrant that you have the authority to bind that entity to the Agreement and that by using our Service(s), you are accepting the Agreement on behalf of that entity.</p>
                <h3 class="font-weight-bold">Your Account</h3>
                <p>Where use of our Services requires an account, you agree to provide us with complete and accurate information when you register for an account and keep the information current. This is important because sometimes we may need to send you notable updates (for example, about changes to our Terms of Service or Privacy Policy), or we may want to let you know about and make informed choices in response to legal inquiries or complaints.</p>
                <p>You will be solely responsible and liable for any activity that occurs under your account. You are responsible for keeping your account information up-to-date and for keeping your password secure.</p>
                <p>You are responsible for maintaining the security of your account and any Service-related website, store, or other content, and you are fully responsible for all activities that occur under your account and any other actions taken in connection with our Services. You shall not share or misuse your access credentials. You must immediately notify us of any unauthorized uses of your account, store, or website, or of any other breach of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.</p>
                <h3 class="font-weight-bold">Minimum Age Requirements</h3>
                <p>Our Services are not directed to children. Access to and use of our Services is only for those over the age of 13 (or 16 in the European Union). If you are younger than this, you may not register for or use our Services. Any person who registers as a user or provides their personal information to our Services represents that they are 13 years of age or older (or 16 years or older in the European Union).</p>
                <h3 class="font-weight-bold">General Representation and Warranty</h3>
                <p>You represent and warrant that your use of our Services:</p>
                <ul>
                    <li>Will be in strict accordance with these Terms;</li>
                    <li>Will comply with all applicable laws and regulations (including, without limitation, all applicable laws regarding online conduct and acceptable content, privacy, data protection, the use of financial services, notification and consumer protection, unfair competition, and false advertising);</li>
                    <li>Will not use the Services for any unlawful purposes, to publish illegal content, or in furtherance of illegal activities;</li>
                    <li>Will not infringe or misappropriate the intellectual property rights of any third party;</li>
                    <li>Will not overburden our systems, as determined by us in our sole discretion;</li>
                    <li>Will not disclose sensitive personal information of others;</li>
                    <li>Will not be used to send spam or bulk unsolicited messages;</li>
                    <li>Will not interfere with, disrupt, or attack any service or network; and</li>
                    <li>Will not be used to create, distribute, or enable material that is - or that facilitates or operates in conjunction with - malware, spyware, adware, or other malicious programs or code.</li>
                </ul>
                <h3 class="font-weight-bold">Copyright Infringement and DMCA Policy</h3>
                <p>As we ask others to respect our intellectual property rights, we respect the intellectual property rights of others. If you believe that material located on or associated with our Services violates your copyright, please notify us. We will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material.</p>
                <h3 class="font-weight-bold">Intellectual Property</h3>
                <p>The Agreement does not transfer from us to you any ours or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with us.</p>
                <h3 class="font-weight-bold">Changes</h3>
                <p>We are constantly updating our Services and that means sometimes we have to change the legal terms under which our Services are offered. If you disagree with our changes, then you should stop using our Services once the changes become effective. Your continued use of our Services will be subject to the new terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that were in place when the dispute arose.</p>
                <h3 class="font-weight-bold">Termination</h3>
                <p>We may terminate your access to all or any part of our Services at any time, with or without cause, with or without notice, effective immediately.</p>
                <h3 class="font-weight-bold">Disclaimer of Warranties</h3>
                <p>Our Services are provided “as is.”</p>
                <h3 class="font-weight-bold">Miscellaneous</h3>
                <p>The Agreement constitutes the entire agreement between us and you concerning the subject matter hereof. If any part of the Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of the Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under the Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; we may assign its rights under the Agreement without condition. The Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>